@import "tailwindcss";

@theme {
  --color-calder-beige: #E8D5C4;
  --color-calder-black: #2B2B2B;
  --color-calder-blue: #2E4C9C;
  --color-calder-red: #E63946;
  --color-calder-yellow: #F9A825;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}